@media screen and (max-width: 1080px) {
  section#services-hero {
    font-size: 0.8rem;
    text-align: center;
    gap: 1rem;
  }

  section#services-hero h2 {
    font-size: 1rem;
    font-style: italic;
  }
}
