footer {
  width: 100%;
  margin-top: 2rem;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.875rem;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  display: flex;
  justify-content: space-around;
}

.footer-maps-link h3 {
  margin-top: 1rem;
}
a.map-link {
  color: var(--primary-blue);
  font-weight: 600;
  text-decoration: underline;
}
