main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

section#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-image: url("../images/front-desk.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white);
  padding: 0.8rem;
  text-align: center;
  height: 80vh;
}

section#hero h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
section#hero h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

section#hero p.hero-blurb {
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
}

section#hero div#financing {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  align-self: center;
  font-size: 18px;
}

section#hero div#financing p {
  width: 50%;
  color: var(--light-blue);
  font-size: 20px;
}

section#hero div#financing div.button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  width: 600px;
}

section#hero div#financing div.button-block button.financing-button {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 0.3rem;
  box-shadow: -1px 4px 6px rgba(102, 102, 103, 0.468);
  width: 380px;

  transition: background-color 1s ease;
}
section#hero div#financing div.button-block button.financing-button:hover {
  background-color: var(--gray-blue);
  color: var(--dark-blue);
}

/*
ABOUT SECTION
*/

section#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35rem;
  padding: 18rem 0;
  gap: 5rem;

  background-color: var(--light-blue);
  border-top: 60px solid var(--gray-blue);
}

section#about div:first-child {
  width: 25%;
  text-align: start;
  font-size: 22px;
}

section#about div:first-child h2.about-header {
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

section#about div.image-wrapper {
  position: relative;
  width: 600px;
  height: 360px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 2px 14px #000;
}

section#about div.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

section#about div.image-wrapper img.active {
  opacity: 1;
  z-index: 1;
}

section#about img {
  width: 600px;
  height: auto;
}

/*
SOCIAL BAR SECTION
*/

section#social-bar {
  width: 100%;
  height: 20rem;
  background-color: var(--light-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;

  color: var(--dark-blue);

  border-radius: 50% / 0 0 90px 90px;
  border-bottom: 15px solid var(--gray-blue);
}
section#social-bar h2 {
  font-size: 3rem;
}

section#social-bar div.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  color: var(--dark-blue);
}

section#social-bar div.social-icons i {
  font-size: 3rem;
}

section#social-bar div.social-icons i:hover {
  color: var(--gray-blue);
}

/*VALIDATION*/

section#validate {
  padding: 2rem 2rem 8rem 2rem;
}

.validation-icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.2rem;
  justify-items: center;
}

.validation-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}

.validation-icon-wrapper h3 {
  font-size: 2rem;
  color: var(--dark-blue);
}

.validation-icon-wrapper p {
  font-size: 22px;
  width: 60%;
  text-align: center;
  margin-top: 1rem;
}

.validation-icon {
  width: 40rem;
  height: 20rem;
}

/*
BRANDS SECTION
*/

section#brands {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem 2rem;
  gap: 0.3rem;
  background-color: var(--light-blue);
  border-radius: 50% / 100px 100px 0 0;
  border-top: 15px solid var(--gray-blue);
  border-bottom: 60px solid var(--gray-blue);
}

section#brands h2 {
  text-align: center;
  font-size: 2.3rem;
  width: 30%;
}

section#brands div.brand-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section#brands img.ge-logo {
  width: 100px;
  margin: 0;
  justify-self: center;
}

section#brands img {
  width: 150px;
  margin: 2rem;
}

/*
IMAGE BANNER
*/

section#image-banner-1 {
  height: 50rem;
  width: 100%;
  background-image: url("../images/kitchen.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

section#image-banner-1 h2 {
  color: var(--white);
  font-size: 6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  transform: translateX(-8px);
}
section#image-banner-1 h2 span.scripted {
  font-family: "Italianno", cursive;
  font-size: 8rem;
  color: var(--gray-blue);
  margin-right: 4px;
}

/*
FINANCING SECTION
*/

section#financing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8rem 2rem;
  gap: 6rem;
}
section#financing-section h2 {
  font-size: 4rem;
  text-align: center;
  color: var(--dark-blue);
}

section#financing-section div.leasing-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#financing-section div.leasing-option img {
  width: 450px;
  height: auto;
  box-shadow: -3px 3px 12px #000000;
}

h3.acima-header {
  align-self: flex-end;
}

.acima-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

section#financing-section div.leasing-option div.leasing-text-block {
  width: 45%;
  display: flex;
  flex-direction: column;
}
section#financing-section div.leasing-option div.leasing-text-block h3 {
  font-size: 30px;
  color: var(--dark-blue);
  text-decoration: underline;
}
section#financing-section div.leasing-option div.leasing-text-block p {
  width: 80%;
  font-size: 24px;
}

button.learn-more-about-financing {
  width: fit-content;
  padding: 12px 22px;
  font-size: 24px;
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: -2px 2px 6px #000;
  border-radius: 8px;

  margin-top: 2rem;

  transition: background-color 1s ease;
}

button.learn-more-about-financing:hover {
  background-color: var(--gray-blue);
  color: var(--dark-blue);
}

/*
CAROUSEL SECTION
*/

section#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 4rem 0 9rem 0;
  gap: 1rem;

  background-color: var(--light-blue);
  color: var(--dark-blue);
}

section#carousel h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

section#carousel div.carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

section#carousel div.carousel img {
  width: 325px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 1px -1px 5px #000;
}

/*
EXTENDED WARRANTY SECTION
*/

section#extended-warranty {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--white);

  background-image: url("../images/store-front.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#extended-warranty button.learn-more-about-warranty-button {
  background-color: var(--gray-blue);
  color: var(--dark-blue);
  border: none;
  border-radius: 8px;

  padding: 1rem 1.8rem;
  font-size: 24px;

  box-shadow: -2px 2px 8px #525252;
  margin-top: 2rem;

  transition: background-color 1s ease;
}

section#extended-warranty button.learn-more-about-warranty-button:hover {
  background-color: var(--dark-blue);
  color: var(--gray-blue);
}
