@media screen and (max-width: 1080px) {
  section#tl-hero {
    width: 100%;
    height: 30rem;
    background-size: cover;
    gap: 2rem;
  }

  section#tl-hero h1 {
    font-size: 2.2rem;
  }
  section#tl-hero p {
    font-size: 1.5rem;
    text-align: center;
  }

  section#tl-info {
    align-items: center;
  }
  section#tl-info div {
    flex-direction: column;
    align-items: center;
  }
  section#tl-info div ul {
    align-items: center;
  }
  section#tl-info div img.tl-info-image {
    width: 80%;
    margin-top: 1rem;
  }

  section#tl-call-to-action {
    text-align: center;
  }

  section#tl-image-banner {
    font-size: 2rem;
    text-align: center;
    height: 24rem;

    border-radius: 50% / 60px 60px 0 0;
  }
}
